.four-0-four-image{
    display:block;
    margin: 80px auto;
}
.four-0-four-message{
    text-align: center;
    text-transform: capitalize;
    color: #383838;
}
.four-0-four-message a{
    color: #383838;
}